{% extends "base.html" %}

{% block content %}
<h1>Буклеты разных производителей</h1>
{% for item in booklets%}
<div class="col-md6 border rounded">
    <h2>{{item.name}}</h2>
    <div>
        {{item.about}}
    </div>
    <div>
        <img src="/static/img/booklets/{{item.pic}}" alt="здесь должна была быть картинка, но не нашлась" width=300>
    </div>
    <div>
        Производитель - <a href="/filter-prod/{{item.prod.id}}">{{item.prod.name}}</a>
    </div>
</div>
{% if current_user.is_authenticated %}
    <div>
        <a href="/add-booklet/{{ item.id }}" class="btn btn-warning">Изменить</a>
        <a href="/delete-booklet/{{ item.id }}" class="btn btn-danger">Удалить</a>
    </div>
{% endif %}
{% endfor %}
{% if current_user.is_authenticated %}
        <a href="add-booklet" class="btn btn-secondary">Добавить</a>
{% endif %}
{% endblock %}